* {
    color: white;

}

#navbar {
    background-color: #0f1111;
    height: 60px;

}

#logo {
    color: orange;
    font-size: 25px;

}

a {
    margin-right: 200px;
    text-decoration: none;
}

button {
    background-color: #f08804;
}

#one {
    height: 100px;
    width: 100px;
    background-color: rgba(10,80,70,0.5);
    margin-top: 30px;
    border-color: blue;
    border-width: 20px;
    border-style: dashed;
    padding: 10px;
}

#two {
    height: 100px;
    width: 100px;
    background-color: rgba(50,10,100,0.5);
    border-color: red;
    border-width: 20px;
    border-style: dashed;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#three {
    height: 100px;
    width: 100px;
    background-color: rgba(100,20,10,0.5);
    margin-bottom: 50px;
    border-color:burlywood;
    border-width: 20px;
    border-style: dashed;
    padding: 10px;
}
footer{
    background-color: #0f1111;
    height: 60px;
}
#footer{
    font-size: 25px;
    text-align: center;
}